
$lightGrey: #fafafa;
$midGrey: #ccc;
$darkGrey: #343434;
$limeGreen: #00FC87;

$lato: 'Lato', sans-serif;
$oswald: 'Oswald', sans-serif;
$Ionicons:'Ionicons';

// padding
.nopadding {
  padding: 0;
}

@keyframes fadein {
    from { opacity: 0; transform:translateY(10px)}
    to   { opacity: 1; transform:translateY(0)}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


// @keyframes moveinUp {
//   from { transform: translateY(0)}
//   to   { transform: translateY(10px)}
// }

/* variables */
.nopadding {
  padding: 0;
}
/* body */
html {
  height: 100%;
}
body {
  background: white;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
  background-size: cover;
  height: 100%;
}
#app {
  animation: fadein ease-out 1.4s;
}
/* variables */
/* card */
.cardcont {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.85);
}
/* poster */
.poster-container .poster {
  width: 100%;
  border-radius: 0 0 3px 3px;
}
/* meta data */
.meta-data-container {
  padding: 15px;
  color: #fafafa;
}
.meta-data-container h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 2.2em;
}
.meta-data-container .additional-details {
  margin: 35px 0 20px;
  font-family: 'Oswald', sans-serif;
}
.meta-data-container .additional-details .genre-list {
  display: block;
  color: #00fc87;
  font-size: 1.4em;
}
.meta-data-container .additional-details .production-list {
  display: block;
  margin-bottom: 20px;
}
.meta-data-container .additional-details .release-details div:nth-child(n+3) {
  margin-top: 15px;
}
.meta-data-container .meta-data {
  display: block;
  color: #00fc87;
  font-size: 1.6em;
  line-height: 1.1em;
}
.tagline {
  display: block;
  padding-bottom: 0.25em;
  color: #00fc87;
  font-size: 1.3em;
  font-family: 'Oswald', sans-serif;
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
 .searchbox {
    margin-top: 8px;
  }
.meta-data-container {
  padding: 25px;
} }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {/* poster */
.poster-container .poster {
  border-radius: 3px 0 0 3px;
}
/* meta data */
.meta-data-container {
  padding: 25px;
}
.meta-data-container h1 {
  font-size: 2.5em;
}
}
/* variables */
.nopadding {
  padding: 0;
}
footer {
  padding: 30px 0;
  float: left;
  font-size: 0.9em;
  text-align: center;
  width: 100%;
  text-shadow: 1px 1px 1px black;
}
footer span {
  display: block;
  padding: 0 0 10px;
}
footer span i {
  margin-right: 5px;
}
footer a {
  color: #808080;
  transition: 0.7s;
  padding: 8px;
}
footer a:hover, footer a:active {
  color: #00fc87;
  transition: 0.7s;
}
/* variables */
/* search */
.search-container {
  margin: 30px 0;
}
.search-container .searchbox label {
  width: 100%;
  position: relative;
}
.search-container .searchbox label:before {
  color: #ccc;
  content: "\f4a4";
  font-family: 'Ionicons';
  position: absolute;
  font-weight: lighter;
  bottom: 2px;
  left: 0;
  font-size: 22px;
}
.search-container .searchbox .twitter-typeahead, .search-container .searchbox .typeahead {
  width: 100%;
  background: none;
  border-bottom: solid 1px white;
}
.search-container .searchbox .twitter-typeahead .form-control, .search-container .searchbox .typeahead .form-control {
  animation: fadein ease-in 0.5s;
  border: none;
}
.search-container .searchbox .twitter-typeahead .searchbox__input.tt-hint, .search-container .searchbox .typeahead .searchbox__input.tt-hint {
  opacity: 0 !important;
}
.search-container .searchbox .twitter-typeahead .tt-input, .search-container .searchbox .typeahead .tt-input {
  color: white;
}
.tt-dropdown-menu {
  animation: fadein ease-out 0.5s;
  min-width: 100%;
  margin-top: 2px;
  padding: 5px 0;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  color: #fafafa;
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
.tt-suggestion p {
  margin: 5px 0;
}
.tt-suggestion.tt-cursor, .tt-suggestion:hover {
  color: #343434;
  background-color: #00fc87;
}
.tt-suggestion:hover {
  cursor: pointer;
}
